{% extends '@App/layout.html.twig' %}

{% block content %}

   <div class="row">

      <div class="col-md-10 col-md-offset-1">

         simple test {{ param }}


      </div>
   </div>

{% endblock %}